html{
    box-sizing: border-box;
}
*,*::before, *::after{
    box-sizing: inherit;
}
body{
    min-width: 320px;
    overflow-x: hidden;
    color: #FFFFFF;
    position: relative;
    background-color: antiquewhite;
}

a{
    display: inline-block;
    text-decoration: none;
}
nav ul li a{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    color: #FFFFFF;
}
ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-size: inherit;
}
h1{
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    line-height: 115px;
}
h3{
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 53px;
}
h4{
    font-size: 21px;
    color: #f4f4f9;
    font-weight: 400;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.content{
    flex: 1 0 auto;
}
.page-section{
    min-height: 100vh;
    width: 100vw;
    background-image: url('../images/main-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
#header{
    min-height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}